# Ignore everything by default
*

# But include dist folder for deployment
!dist/
!dist/**

# Include nginx config
!nginx.conf

# Include Dockerfile
# Include Dockerfile
!Dockerfile

# Include Node.js server files
!simple-server.js


